log4j.rootCategory=debug, stdout
log4j.category.WZBillingServer=debug, R1
log4j.category.DeductionSource=debug, R2

log4j.appender.stdout=org.apache.log4j.ConsoleAppender 
log4j.appender.stdout.layout=org.apache.log4j.PatternLayout
log4j.appender.stdout.layout.ConversionPattern=%5p[%t][%d]%m%n

log4j.appender.R1=org.apache.log4j.RollingFileAppender 
log4j.appender.R1.File=D:/projects/Application/WZBillingServer/bin/wzb_server.log
log4j.appender.R1.MaxFileSize=50MB
log4j.appender.R1.MaxBackupIndex=100
log4j.appender.R1.append=true
log4j.appender.R1.layout=org.apache.log4j.PatternLayout 
log4j.appender.R1.layout.ConversionPattern=%5p[%t][%d](%F:%L)%m%n

log4j.appender.R2=org.apache.log4j.RollingFileAppender 
log4j.appender.R2.File=D:/projects/Application/WZBillingServer/bin/deduction.log
log4j.appender.R2.MaxFileSize=50MB
log4j.appender.R2.MaxBackupIndex=100
log4j.appender.R2.append=true
log4j.appender.R2.layout=org.apache.log4j.PatternLayout 
log4j.appender.R2.layout.ConversionPattern=%5p[%t][%d](%F:%L)%m%n
