log4j.rootCategory=debug, stdout
log4j.category.SUNGMS=debug, R1

log4j.appender.stdout=org.apache.log4j.ConsoleAppender 
log4j.appender.stdout.layout=org.apache.log4j.PatternLayout
log4j.appender.stdout.layout.ConversionPattern=%5p[%t][%d]%m%n

log4j.appender.R1=org.apache.log4j.RollingFileAppender 
log4j.appender.R1.File=C:\\WOPSConfig\\SUNGMS\\Logs\\_debug1.log
log4j.appender.R1.MaxFileSize=2MB
log4j.appender.R1.MaxBackupIndex=100
log4j.appender.R1.append=true
log4j.appender.R1.layout=org.apache.log4j.PatternLayout 
log4j.appender.R1.layout.ConversionPattern=[%d] %m%n
